.main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;

    .title {
        color: white;
        background-color: rgb(203, 0, 95);
        font-size: 50px;
    }

    .glow {
        background-color: yellow;
        color: #000;
        animation-name: btnAni3;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        box-sizing: border-box;
        text-align: center;
        font-size: 25px;
    }
    .msg{
        text-align: center;
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    img{
        margin-left: 60px;
        margin-bottom: 50px;
    }
    
}